@font-face {
  font-family: "displaylight";
  src: url("../../../public/Fonts/Displaylight.otf") format("opentype");
  font-style: normal;
}

.hwork {
  padding: 0 5vw;
  /* min-height: 300px; */
  height: calc(45vh - 150px);
  width: calc(100vw - 20px);
  display: flex;
  align-items: end;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.hbgoverlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background-image: url(../../../public/workherobg2.jpg); */
  background-size: cover;
  filter: blur(6px);
  opacity: 0.25;
  z-index: -1;
}

.hwork h2:nth-child(2) {
  font-weight: 100;
  font-size: 28px;
  color: gray;
  margin-top: 10px;
  font-family: "displaylight";
}

.hwork h2 {
  font-size: 3vw;
  color: rgb(255, 255, 255);
  font-family: "HelveticaNeueLight";
  text-transform: uppercase;
  line-height: 0.95;
  text-align: center;
}
.worktog {
  width: 90vw;
  margin: 200px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #3e3e3e;
}

.worktog h2 {
  font-size: 5vw;
  color: white;
  font-family: "HelveticaNeueLight";
}

@media (max-width: 786px) {
  .sWorksec {
    margin-top: 150px;
  }
  .hwork h2 {
    font-size: 50px;
  }
  .swork {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .sworkcontent,
  .sworkimage {
    width: 100% !important;
  }
  .sworkcontent h2,
  .sworkcontent p {
    font-size: 26px;
  }
  .workDetailsContent {
    flex-direction: column;
    gap: 20px;
  }
}

.workDy {
  background-color: #090909;
}

.workDetails {
  max-width: 900px;
  width: 90vw;
  margin: auto;
  margin-bottom: 200px;
  padding-top: 60px;
  color: white;
  text-transform: uppercase;
}

.wHead {
  overflow: hidden;
}

.tagline {
  opacity: 0;
}
.workDetails h1 {
  font-family: "HumaneLight";
  text-transform: uppercase;
  font-size: clamp(100px, 10vw, 200px);
  font-weight: 300;
  color: white;
  text-align: center;
  line-height: 0.8;
  transform: translateY(-100%);
}

.workDetailsContent {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 16px;
  font-family: "HelveticaNeueLight";
}

.workDetailsContent p > :first-child {
  color: gray;
}

.workDetailsContent a {
  color: white;
  text-decoration: underline;
}

.tagline {
  text-align: center;
  max-width: 800px;
  margin: auto;
  color: gray;
  margin-bottom: 50px;
}

.image1 {
  border-radius: 20px;
  margin-block: 100px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.workContent {
  max-width: 900px;
  margin: auto;
}

.workContent h3 {
  font-size: clamp(50px, 5vw, 100px);
  font-family: "HumaneLight";
  font-weight: 300;
}

.workContent > * {
  margin-bottom: 50px;
}

.workContent p {
  color: gray;
}

.secImage {
  display: flex;
  gap: 30px;
}

.secImage div {
  width: 100%;
  aspect-ratio: 5 / 3;
  border-radius: 20px;
  overflow: hidden;
}

.nextWork {
  font-family: "HumaneLight";
  font-size: clamp(80px, 8vw, 150px);
  font-weight: 300;
  text-align: center;
  margin-top: 100px;
}

.nextBtn {
  text-align: center;
}

.nextBtn a {
  width: fit-content;
  height: 50px;
  border: 1px solid #e0e0e0;
  padding: 0 35px 0 30px;
  border-radius: 10vw;
  color: #b4b4b4;
  font-size: 16px;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.nextBtn .nextArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-out;
}

.nextBtn span svg {
  font-size: 24px;
}

.textRevel {
  height: 50%;
  overflow: hidden;
}

.textHidden {
  transition: all 300ms ease-out;
}

.nextBtn a:hover .textHidden {
  transform: translateY(-50%);
}

.textHidden p {
  padding-top: 2px;
}
