.serviceSection {
  width: 90vw;
  margin: auto;
  position: relative;
  height: 2220px;
}

.serviceTitle {
  position: sticky;
  top: 0;
  height: 620px;
  font-family: "HelveticaNeueThin", sans-serif;
  z-index: 1;
  background: transparent;
}

.serviceTitle h2 {
  padding: 36px 0 36px 17vw;
  background-color: black;
  font-size: 22px;
  color: #FAF9F6;
  text-transform: uppercase;
}

.service__p {
  width: 100%;
  padding: 50px 0;
  position: absolute;
  top: 50px;
}

.service__c {
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
  inset: auto;
  z-index: auto;
  background-color: black;
}

.serviceCard {
  height: 150px;
  max-height: 150px;
  max-width: 100%;
  /* border-radius: 50px; */
  transform: translate(0px, 0px);
  position: sticky;
  top: 100px;
  display: flex;
  align-items: start;
  border-top: 1px solid #303030;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.service__p .service__c:last-child .serviceCard:last-child {
  max-height: 400px !important;
  height: 400px !important;
}

.serviceIcon {
  width: 40%;
  padding-left: 50px;
}

.serviceIcon img {
  width: 120px;
  aspect-ratio: 1 / 1;
  margin-top: 25px;
  filter: brightness(0.7);
}

.serviceContent {
  margin-top: 60px;
  width: 60%;
}

.serviceContent .heading {
  font-family: "HelveticaNeueMedium", sans-serif;
  font-size: 2vw;
  overflow: hidden;
}

.serviceContent .paragraph {
  font-family: "HelveticaNeueLight", sans-serif;
  font-size: 22px;
  margin-top: 60px;
  max-width: 700px;
  color: #bbbbbb;
}


.servicesList {
  margin-left: 40px;
  margin-top: 50px;
  font-size: 18px;
  max-width: 700px;
  color: #bbbbbb;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: decimal-leading-zero;
}


@media (max-width: 768px) {
  .serviceCard {
    flex-direction: column;
    align-items: center;
  }

  .serviceIcon {
    padding: 0;
    width: auto;
  }

  .serviceIcon img {
    width: 70px;
    aspect-ratio: 5/ 3;
  }

  .serviceContent .heading {
    font-size: 24px;
    text-align: center;
  }
  .serviceContent .paragraph {
    margin-top: 50px;
    font-size: 18px;
  }
}
