/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../../public/Fonts/HelveticaNeueLight.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../../public/Fonts/HelveticaNeueMedium.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("../../public/Fonts/HelveticaNeueRoman.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueThin";
  src: url("../../public/Fonts/HelveticaNeueThin.otf") format("opentype");
  font-style: normal;
}
:root {
  --pre-background: #000000;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #00a300;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

::selection {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}


@media (max-width:768px){
  .cursor{
    display:none;
  }
}

.cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  border: 2.5px solid #c5c5c5;
  border-radius: 5vw;
  transition: transform 0.5s ease-out;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 100;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: black;
  position: relative;
  font-family: "HelveticaNeueMedium", sans-serif;
  scroll-behavior: smooth;
}

body.body-fixed {
  position: fixed;
}

.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  background: var(--pre-background);
  z-index: 1;
}

.counter {
  width: 100vw;
  height: 100svh;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(64, 64, 64);
  padding: 2rem 4rem;
  font-size: 10vw;
  font-family: "HelveticaNeueMedium";
  font-style: italic;
  z-index: 1000;
}

.loader-container p {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 4rem;
  color: rgb(64, 64, 64);
  font-size: 1.5rem;
  font-weight: bold;
}

.circles {
  position: absolute;
  visibility: hidden;
  bottom: 100%;
  left: 10%;
  width: 28vw;
  height: 28vw;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .circles {
    top: 55%;
  }
  .counter {
    padding-bottom: 5rem;
  }
  .text-line text {
    font-size: 10vw;
  }
  .description .body p:nth-of-type(2) {
    width: 100%;
  }
  .workDesc,
  .serviceTitle h2{
    width: 100%;
    padding: 36px 0 36px 0!important;
    text-align: center;
  }
  .serviceContent{
    width: 80%!important;
    text-align: justify;
  }
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: 1.5px solid #404040;
  border-radius: 100%;
}

.inner-circle {
  position: absolute;
  width: 28vw;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.5px solid rgb(64, 64, 64);
}

.circle-rotate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 12vw;
  aspect-ratio: 1/ 1;
  background: none;
  border: 1.5px solid #404040;
  border-radius: 100%;
}

.block {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  display: none;
  background-color: none;
  border: 1.5px solid rgb(64, 64, 64);
  transform-origin: bottom left;
}

.text-line {
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
}

.text-line text {
  fill: var(--pre-background);
  font-family: "roboto";
  font-size: 14vw;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;
}

.main {
  background-color: black;
  color: white !important;
  position: relative;
  overflow: hidden;
  /* display: none; */
  /* height: 100vh; */
}

.page{
  display: none;
}

.website-content {
  position: relative;
  height: calc(100svh - 100px);
  max-height: 1080px;
  overflow: hidden;
  background-color: #ffffff;
  /* background-color: #efefef; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  background-color: white;
  margin: auto;
  position: relative;
  z-index: 1;
}

nav {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 90vw;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
}

.nav-item {
  flex: 1;
  color: #000000;
  font-family: "HelveticaNeueLight", sans-serif;
  text-transform: uppercase;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.menu .anchor-tag {
  background-color: #000000;
  color: rgb(200, 200, 200);
  padding: 6px;
  display: flex;
  border-radius: 100vw;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  height: 50px;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.anchor-tag.flexNormal {
  color: #000000;
  background-color: rgb(220, 220, 220);
}

.menu .anchor-tag p {
  width: 60%;
  opacity: 0;
  text-align: center;
  position: relative;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu .anchor-tag p.active {
  opacity: 1;
}

.anchor-tag.flexNormal .span {
  left: 4%;
  background-color: black;
}

.menu .span {
  width: 40%;
  aspect-ratio: 1/ 1;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 57%;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.anchor-tag.flexNormal .span::after,
.anchor-tag.flexNormal .span::before {
  background-color: rgb(255, 255, 255);
}

.menu .span::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 25%;
  width: 50%;
  height: 1px;
  background-color: #404040;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu .span::before {
  content: "";
  position: absolute;
  bottom: 40%;
  right: 25%;
  width: 50%;
  height: 1px;
  background-color: #000000;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.anchor-tag.flexNormal .span::before {
  bottom: calc(50% - 0.5px);
  rotate: -45deg;
}

.anchor-tag.flexNormal .span::after {
  top: calc(50% - 0.5px);
  rotate: 45deg;
}

.nav-item:nth-child(2) {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.nav-item:nth-child(3) {
  text-align: right;
}

.nav-item a {
  color: black;
}

.nav-item .main-logo {
  width: 50px;
  aspect-ratio: 1 /1;
}

.tMenu {
  position: fixed !important;
  right: 0vw;
  width: 100vw;
  height: 0vh;
  color: white;
  background-color: #050505;
  z-index: 0;
  top: 0;
  overflow: hidden;
}

.tbody {
  display: flex;
  width: 100vw;
  height: 100svh;
}

.tPages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vw;
}

.pPage{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.tPage {
  display: block;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.pPage:hover .tPage:not(:hover) {
  filter: blur(2.5px);
  opacity: 0.75;
}

.tline,
.bline,
.rline,
.lline {
  position: absolute;
  background: #303030;
}

.tline {
  top: 10%;
  height: 1px;
  width: 100%;
}

.bline {
  bottom: 10%;
  height: 1px;
  width: 60%;
}

.rline {
  right: 20%;
  height: 10%;
  width: 1px;
}

.lline {
  left: 60%;
  height: 100%;
  width: 1px;
}

.tPages a span {
  font-size: 16px;
  color: gray;
  padding-right: 40px;
  text-align: start;
}

.tPages a {
  font-size: 5vw;
  font-family: "HelveticaNeueLight", sans-serif;
  color: #ffffff;
  width: max-content;
  height: max-content;
  font-style: normal;
}

.tPage {
  height: 7vw;
  position: relative;
  overflow: hidden;
  text-align: left;
}


@media(max-width:786px){
  .rline{
    display: none;
  }

  .tline{
    top: 14%;
  }

  .tPages a{
    font-size: 9vw;
  }
  .tPages a span{
    padding-right: 20px;
  }
}

#logo  {
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
  width: calc(100% - 20px);
  height: calc(100% - 10px);
  margin: 0 10px 10px;
  position: absolute;
  border-radius: 50px;
  bottom: 0;
  background-image: url(/herobg.png);
  background-size: cover;
  text-transform: uppercase;
  overflow: hidden;
 
}

.logo {
  display: flex;
  cursor: pointer;
  color: black;
  width: fit-content;
}
.logo p {
  margin: 0px;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  font-weight: 500;
}
.logo .name {
  display: flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.logo .name p {
  position: relative;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.logo .name p:nth-of-type(2) {
  padding-left: 0.3em;
}
.logo .name p:nth-of-type(3) {
  position: absolute;
  left: 135px;
  padding-left: 0.3em;
}
.logo:hover .copyright {
  transform: rotate(360deg);
}
.logo:hover .name .codeBy {
  transform: translateX(-100%);
}
.logo:hover .name .manish {
  transform: translateX(-65px);
}
.logo:hover .name .basnet {
  transform: translateX(-65px);
}

.title {
  height: fit-content;
  width: 100%;
  margin-top: 22vh;
  margin-inline: 5vw;
  max-width: max-content;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5vw;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero .desc {
  color: #FAF9F6;
  margin-top: 1rem;
  width: 600px;
  font-size: 16px;
  font-family: "HelveticaNeueThin", sans-serif;
  text-align: justify;
  line-height: 1.75;
  letter-spacing: 1px;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.hero .down-right-arrow {
  font-size: 40px;
}

.website-content .hero-bg {
  position: absolute;
  bottom: 0;
  transform: translate(15%);
  width: 100%;
  max-width: 1000px;
  height: 50vh;
  z-index: -1;
}

.main-image {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  bottom: 16px;
}

.manish-image {
  margin: auto;
  max-width: 70vw;
}

canvas {
  position: absolute;
  top: -12%;
  left: 25%;
}

.mblcube{
  position: absolute;
  height: 110%;
  width: 100%;
  object-fit: cover;
} 

@media (max-width: 768px) {
  .loader-imgs {
    flex-direction: column;
    width: 150px;
    height: 100svh;
    gap: 10px;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title {
    font-size: 6vw !important;
    margin-top: 20%;
  }
  canvas{
    top: 10%;
    left: 0%;

  }
  .slider p{
    font-size: 100px!important;
  }
 
 .title{
    width: auto;
  }

  .hero {
    height: calc(100svh - 110px);
  }

  .hero .desc{
    width: auto;
    line-height: 1.5;
  }
  .logo .name p:nth-of-type(3) {
    left: 100px;
  }
  .menu .anchor-tag p{
    font-size: 14px;
  }

}

.title .ptitle{
  overflow: hidden;
}

.title h1 {
  position: relative;
  text-transform: uppercase;
  font-family: "HelveticaNeueLight", sans-serif;
  letter-spacing: 4px;
  line-height: 1;
  color: #ffffff;
  text-align: left;
  display: flex;
  align-items: center;
}

.title-icon {
  width: 8.75vw;
  min-width: 60px;
  height: 3.5vw;
  min-height: 30px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.15px solid #FAF9F6;
  color: #a7a7a7;
  border-radius: 50vw;
  margin-right: 5px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
}

.sliderContainer {
  position: absolute;
  bottom: 0vh;
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  font-family: "HelveticaNeueMedium", sans-serif;
  text-transform: uppercase;
  margin: 0px;
  color: white;
  font-size: 12vw;
  letter-spacing: 2px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  clip-path: polygon(0 0, 100vw 0, 100vw 100svh, 0 100svh);
  transition: all cubic-bezier(0.76, 0, 0.24, 1);
}



@media (max-width:768px){
  .logo p{
    font-size: 12px;
  }
  .nav-item .main-logo{
    width: 45px;
  }
  .menu .anchor-tag{
    width: 96px;
    height: 48px;
  }
  .title h1{
    font-size: 8vw;
    line-height: 1.2;
  }
}